{{!< default}}

{{#post}}
<main id="main-content" class="site-main post-page">
    <div class="inner-container post-inner">
        <article class="post-single post-page-article {{post_class}}">
            <header class="post-single-header post-page-header">
                <h1 class="post-single-title">{{title}}</h1>

                {{#if custom_excerpt}}
                    <p class="post-single-excerpt">{{custom_excerpt}}</p>
                {{/if}}

                <div class="post-meta">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                    <span class="bull">&bull;</span>
                    <span class="reading-time">{{reading_time}}</span>
                </div>
            </header>

            {{#if feature_image}}
            <figure class="post-single-image post-feature-image-wrap">
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption class="post-feature-caption">
                        {{feature_image_caption}}
                    </figcaption>
                {{/if}}
            </figure>
            {{/if}}

            <div class="post-single-content gh-content">
                {{content}}
            </div>
        </article>
    </div>
</main>
{{/post}}
